[submodule "external/asteroids"]
	path = external/asteroids
	url = https://github.com/Twinklebear/asteroids.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
